@model IEnumerable<ERP.Utility.ViewModels.SkillGroup>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryBO.CategoryName)
                </th>              
                <th>
                    @Html.DisplayNameFor(model => model.CategoryBO.Description)
                </th>              
                <th>
                    @Html.DisplayNameFor(model => model.LevelBO.SkillLevelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LevelBO.Description)
                </th>
                <th></th>
            </tr>
@if (Model.Count() > 0)
{

    foreach (var item in Model)
    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryBO.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryBO.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelBO.SkillLevelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelBO.Description)
                    </td>
                </tr>
    }
}
else
{
    <tr>
        <td align="center" colspan=15>
            <center>
                <font color="red" ; style="text-align:center">"Sorry, This Skill Is Not Included in Any Skill Category!!."</font>
            </center>
        </td>

    </tr>
}
        </table>



    @*@using (Html.BeginForm("Skill", "MasterInfo", FormMethod.Post))
    {
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
               
                <button type="submit" id="approve-btn"
                        class="btn btn-danger">
                   Cancel

                </button>
            </div>
        </div>
    }*@


