@model IEnumerable<ERP.Utility.Models.TSFrequencyBO>

<br />
<table class="table" id="TimesheetTable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSheetFrequencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSheetFrequencyDeadline)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
       @if (Model.Count() != 0 || Model != null)
       {
           foreach (var item in Model)
           {
               //if (item.TimeSheetFrequencyName == "Weekly")
               //{
               //     int deadLine = (int)item.TimeSheetFrequencyDeadline;
               //}
            <tr>
               
                @*@if (item.TimeSheetFrequencyName == "Weekly")
                {
                    int weeklyDeadline = item.TimeSheetFrequencyDeadline;
                }*@

                @if (item.TimeSheetFrequencyName == "Fortnightly")
                {
                    <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSheetFrequencyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSheetFrequencyDeadline) 
                </td>                  
                    continue;
                }
                <td>
                    <a data-toggle="tooltip" title="Edit" role="button" onclick="EditFrequency(@item.TimeSheetFrequencyID)" id="edit"><span class="glyphicon glyphicon-pencil text-success" style="position:static"></span></a>
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSheetFrequencyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSheetFrequencyDeadline)
                </td>
                @*<td>                   
                    <a data-toggle="tooltip" title="Delete Time sheet frequency" role="button" onclick="DeleteFrequency(@item.TimeSheetFrequencyID)"><span class="glyphicon glyphicon-trash text-danger"></span></a>
                </td>*@
            </tr>
           }
       }
       else
       {
        <tr>
            <td align="center" colspan=15>
                <center>
                    <font color="red" ; style="text-align:center">"Sorry, No Time sheet frequency found!!."</font>
                </center>
            </td>

        </tr>
       }
</table>

<script>
    $(document).ready(function () {
        $('#TimesheetTable').DataTable({
            //"displayLength": 5,
            bPaginate: false,     //disable Pagination
            bFilter: false,       //disable search text
            bInfo: false,
            "language": {
                "zeroRecords": "<p class='text-danger'>Sorry!..No matching Records found...</p>",
                "text-color": "#7f1416"
            }
        });
        $("#TimesheetTable").freezeHeader({
            offset: '50px',
            //background-color: rgba(255, 255, 255, 0.7)
            //"background-color":"cadetblue"
        });
    });


    function EditFrequency(FrequencyID) {
        console.log("1");
        $.ajax({
            url: '@Url.Action("EditTSFrequency", "MasterInfo")',
            dataType: 'html',
            data: ({ id: FrequencyID }),
            success: function (data) {
                $("#CreateEditFrequency").html(data).show();
                console.log("2");
            },
            error: function (data) {
                alert("error Loading the data");
            }
        })
    }
</script>